body {
    background-color : black;
    }
    
    h2{
        color:burlywood;
        text-align: center;
        font-size: 50px ;
    }
    
    .birthstone-bounce-regular {
        font-family: "Birthstone Bounce", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .fondo_color {
        background-color: rgb(170, 138, 95);
        width: 800px;
        border: 5px solid whitesmoke;
        padding: 10px;
        margin: 50px;
        text-align: center;
        border-radius: 10px ;
        display: flex;
    }

    .lov_era{
        background-color: rgba(39, 90, 35, 0.466);
        border:5px solid whitesmoke;
        padding: 5px;
        margin: 0 auto; 
        color: whitesmoke;
        text-align: center;
        font-size: 15px ;
    }
    
    .grechen-fuemen-regular {
        font-family: "Grechen Fuemen", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    article {
        color: rgb(75, 56, 47);
        font-size: 15px ;
        text-align: center;
    }

    a:hover{
        color: rgb(67, 3, 245);
        text-decoration:underline;
    }